.logo{
    width: 4rem;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around ;
    background-color: #d6d0d0;

}

.meuNome{
    font-size: 1.2rem;
    font-weight: 200;
}

.menuTopo{
    padding: 2rem;
}

.listaTopo{
    display: flex;
    flex-direction: row;
}

.listaTopoItem{
    margin-left: 2rem;
    font-size: 1.2rem;
    font-weight: 200;
}